.hole {
    width: 100px;
    height: 100px;
    background-color: black;
    border: 10px solid brown;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}

.hole > img {
    transform: rotateX(90deg);
    perspective: 0px;
    transition: all 0.3s ease-in-out;
    transform-origin: bottom;
    position: absolute;
    height: auto;
    width: 90%;
    pointer-events: none;
}

.mole > img {
    transform: rotateX(0deg);
}

.hole {
    cursor: url(./assets/hammer.png), pointer;
}

.hole:active {
    cursor: url(./assets/hammer-bop.png), pointer;
}

.hole-row {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.hole-container {
    border: 1px solid black;
    padding: 10px;
    width: fit-content;
    margin: auto;
    transform: rotateX(14deg);
}

.hole-container-wrapper {
    perspective: 180px;
}

.screen {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    width: 300px;
    height: 150px;
    border: 1px solid black;
}